mosec>=0.8.0
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
numpy<2
nnunetv2
pydicom>=2.4.0
nibabel>=5.0.0
scikit-image>=0.20.0
requests>=2.28.0
msgpack>=1.0.0
onnx==1.17.0
onnx-simplifier==0.4.36
onnxscript==0.5.0
SimpleITK>=2.2.0
